.logo-webstudio {
  font-size: 26px;
  width: 153px;
  height: 31px;
  left: 200px;
  top: 24px;
  position: absolute;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  line-height: 31px;
  color: #2196f3;
}
h1 {
}
.header-site {
}
