/*основные цвета #333333
/* #FFFFFF
/* #2196F3
/* #212121
/* #757575
/* #EEEEEE
/* #000000
/* #F5F4FA
/* #2F303A
/* #2F303A:*/
body {
  font-family: Roboto;
  color: #212121;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.logo-web > span {
  position: absolute;
  width: 153px;
  height: 31px;
  left: 200px;
  top: 24px;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
}
.logo-studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;
  color: #000000;
}
.site-nav > a {
  position: absolute;
  width: 68px;
  height: 16px;
  left: 665px;
  top: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}
.site-nav :hover {
  color: #2196f3;
}
.adress-nav {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1093px;
  top: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #757575;
}
